* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

/*beginning of home*/

.home {
    background: url(./images/BG-home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: #FFFFFF;
}

.home__header,
.home-body {
    margin-bottom: 80px;
}

.home__header {
    position: relative;
    margin-bottom: 50px;
}

.home__burger--container {
    padding-top: 5%;
    border: 1px solid transparent;
    z-index: 1;
}

.toggle-navigation {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: transparent;
    border: 1px solid transparent;
    transition: all 0.3s ease 0s;
    focusout
}

.toggle-navigation span {
    border: 1px solid transparent;
}

.toggle-navigation:hover {
    box-shadow: -5px 6px 9px #270325;
}

.toggle-navigation::before,
.toggle-navigation::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left:0;
}

.toggle-navigation.open-navigation span {
    opacity: 0;
    transition: 0.4s;
    border: 1px solid transparent;
}

.toggle-navigation.open-navigation {
    height: 4px;
    transition: 0.4s;
    border: 1px solid transparent;
}

.toggle-navigation.open-navigation::before {
    transform: rotate(46deg);
    transition: 0.4s;
}

.toggle-navigation.open-navigation::after {
    transform: rotate(-46deg);
    transition: 0.4s;
}

.toggle-navigation:before {
    top: 0;
}

.toggle-navigation:after {
    bottom: 0;
}

.toggle-navigation span {
    position: absolute;
    background: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    top: 12px;
}

.home__menu--list {
    display: block;
    position: absolute;
    top: -700%;
    left: -40%;
    border-radius: 5px;
    text-align: center;
    margin: 60px auto 0 auto;
    width: 100%;
    background-color: rgba(41, 4, 29, 0.8);
    transition: all 0.8s ease; 
}

.home__menu--list.open-navigation {
    top: 10px;
    left: 0;
}

.home__menu--item {
    list-style-type: none;
    border: 3px solid transparent;
    padding: 0 15px;
}

.home__menu--list:hover .home__menu--item:not(:hover) {
    opacity: 0.5;
    transition: 1s;
}

.home__menu--list .home__menu--item:focus {
   transition: 0.4s; 
}




.link {
    text-decoration: none;
    color: #FFFFFF;  
    transition: all 0.3s ease 0s;   
}

.navigation-link { 
    font-size: 15px;
    letter-spacing: 2.4px;
    line-height: 50px;
}

.home-logo {
    position: absolute;
    top:20%;
    left: 46%;
}

.body--link {
    font-size: 9px;
}

.btn-radius {
    border-radius: 3px;
}

.home-body,
.home-footer {
    text-align: center;
}

.home__body--title {
    padding: 15% 0 2%;
    font-size: 17px;
    letter-spacing: 5.4px;
}

.home__body--subtitle {
    margin-bottom: 25px;
    font-size: 13px;
}

.link-btn {
    background: #16A085;
    padding: 5%;
}

.link-btn:hover {
    -webkit-box-shadow: 2px 3px 5px #041f19;
            box-shadow: 2px 3px 5px #041f19;
}

.social-svg {
    display: inline-block;
    padding: 40px 7px 20px;
}

.home-footer:hover .social-svg:not(:hover) {
    opacity: 0.5;
    transition: 1s;
}

.fixed-page {
    overflow: hidden;
}

@media(min-width:200px) {
    .photoapp {
        background-position: top right;
        background-size: unset;
    }
    .home__body--title {
        margin-bottom: 30px;
        font-size: 20px;
        letter-spacing: 2.4px;
    }
}

 @media(min-width:576px) {
     .home {
        min-height: 745px;
     }
     .home__body--title {
        font-size: 36px;
     }
     .home__body--title {
         font-size: 25px;
     }
     .link-btn {
        padding: 15px 30px;
     }
     .home__header,
     .home-body {
        margin-bottom: 200px;
     }
     .body--link {
        font-size: 12px;
        letter-spacing: 1.8px;
        line-height: 20px; 
     }
     .navigation-link {
        font-size: 16px;
        line-height: 40px;
     }
     .home__menu--list {
        left: 10%;
        height: 200px;
        margin: 70px auto;
        width: 70%;
     }
 }

 @media(min-width:768px) {
    .wrapper  {
        padding-top: 20px;
        width: 90%;
    } 
    .toggle-navigation {
        display: none;
    }
    .home__burger--container {
        display: none;
    }
    .home__menu--list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        left: 0;
        padding: 0% 3%;
        background-color: transparent;
        margin-top: 0;
        height: auto;
        text-align: center;
    }
    .item-center {
        margin-right: 10%;
    }

    .home__menu--item:hover {
        border-bottom: 2px solid #fff;
    }
    .home__body--title {
        padding: 20% 0 2%;
    }
    .photoapp {
        background-position: top center;
    }
    .photoapp__body--article {
        width: 40%;
    }
    .article {
        letter-spacing: 1.8px;
        line-height: 24px;
        padding-left: 5px;
    }

    .home-footer {
        padding-top: 10%;
    }
    .social-svg {
        padding: 20px 7px;
    }
 }
 @media(min-width:1200px) {
    .home__body--title {
        font-size: 40px;
    }
    .home__body--title {
        font-size: 35px;
    }
    .home-footer {
        padding-top: 5%;
    }
    .article {
        padding-bottom: 0;
    }
 }
 @media(min-width:1400px) {
     .home-body {
         margin-bottom: 0;
     }
     .home__body--title {
        margin: 20% auto 0%;
        font-size: 50px;
     }
     .home__body--subtitle {
        margin-bottom: 4%;
     }
     .home__menu--list {
        padding: 2% 3%;
     }
     .home-logo {
        top: 40%;
     }
     .navigation-link {
        font-size: 25px;
     }
     .link-btn {
        display: inline-block;
        margin-bottom: 100px;
        padding: 30px 50px;
        font-size: 18px;
     }
     .home-footer {
         padding-top: 0;
     }
 }
 
/*end of home*/

/*photoapp begining*/  
.title-section {
    padding: 20px 0;
    color: #16A085;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 2.7px;
}

.article {
    padding-bottom: 40px;
    font-size: 11px;
}

.photoapp {
    background-image: url(./images/HandPhone.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    max-height: 100vh;
}

.photoapp__body {
    margin: 0 auto;
    padding: 10%;
    width: auto;
    height: auto;
    min-height: 65vh;
    max-height: 100vh;
}

.photoapp__body--article {
    background-color: rgba(255, 255, 255, 0.6);
    width: 60%;
    text-align: left;
    margin-left: 0;
}

.article {
    padding-bottom: 20px;
    color: #373737;
    font-size: 10px;
}

@media(min-width:1200px) {
    
    .photoapp__body--article {
        background: none;
    }
    .article {
        font-size: 20px;
    }   
}
/*photoapp end*/

/*design begining*/

.design {
    background-color: #fff;
    height: auto;
    min-height: 80vh;
}

.design__image--section {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    border: 1px solid transparent;
}

.image-item-first {
    width: 55%;
    border: 1px solid transparent
}

.image-item {
    width: 80%;
    height: auto;
}

.design__article {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: transparent;
}

.btn-item {
    margin: 0% 1%;
    background-color: #fff;
    font-size: 30px;;
    border: none;
}

.btn-item:hover {
    font-weight: bold;
}

/*slick slider_design begining*/

.design__image--section .slick-track {
    display: flex;
    align-items: flex-start;
}

.design__image--section .slick-list {
    overflow: hidden;
}

.design__image--section .slick-arrow {
    position: absolute;
    top: 50%;
    width: 15px;
    min-height: 15px;
    border: 1px solid transparent;
}

.design__image--section .slick-next {
    right: 10px;
    font-size: 0;
    background: url(./logo.svg/arraw-next.svg) 0 0 / 100% no-repeat;
}

.design__image--section .slick-prev {
    left: 10px;
    font-size: 0;
    background: url(./logo.svg/arraw-prev.svg) 0 0 / 100% no-repeat;
}

.design__image--section .slick-dots {
    display: flex;  
}

.design__image--section .slick-dots li {
    list-style: none;
    margin: 0 10px;
}

.design__image--section .slick-dots button {
    font-size: 0;
    width: 5px;
    height: 5px;
    border: 1px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    left: 105%;
}

.design__image--section .slick-dots li .slick-active button {
    background-color: #000000;
}

/*slick slider_design end*/

@media(min-width:576px) {
    .design {
        margin-top: -10%;
        min-height: 70vh;
    }
}
@media(min-width:768px) {
    .design {
        position: relative;
        width: 100%;
        height: auto;
        min-height: 70vh;
    } 
    .design__image--section {
        width: 40%;
        min-height: 550px;
        position: absolute;
        top: 5%;
        left: 10%;
    } 
    .design__image {
        top: 0;
        left: 0;
    }
    .image-item {
        width: 80%;
    }
    .image-item-first {
        width: 200px;
    }
    .design__article {
        position: absolute;
        top: 5%;
        right: 10%;
        width: 30%;
        text-align: left;  
    }
    .design__image--section .slick-arrow {
        position: absolute;
        top: 72%;
        width: 25px;
        min-height: 25px;
        border: 1px solid transparent;
    }
    .design__image--section .slick-next {
        left: 107%;
    }
    .design__image--section .slick-prev {
        left: 91%;
    }
}
@media(min-width:992px) {
    .design {
        margin-top: 10%;
        min-height: 100vh;
    }

    .image-item {
        width: 50%;
    }
}
@media(min-width:1200px) {
    .title-section {
        font-size: 25px;
    }
    .design__article {
        width: 40%;
        top: 10%;
    }

    .design {
        margin-top: -9%;
    }

    .design__image {
        width: 50%;
    }

    .design__image--section {
        z-index: 10;
        top: 10%;
        width:50%;
    }

    .design__image--section .slick-arrow {
        top: 70%;
        z-index: 15;
    }
    
    .design__image--section .slick-next {
        left: 90%;
    }
    
    .design__image--section .slick-prev {
        left: 80%;
    }

    .link-btn {
        display: inline-block;
    }
    
}
@media(min-width:576px) {
    .design__image--section .slick-prev {
        left: 10%;
    }
    .article {
        font-size: 15px;
    }
}

@media(min-width:1400px) {
    .design {
        margin-top: -5%;
    }
}
/*design end*/

/*community begining*/
.community {
    position: relative;
    background-color: #F5F6F7;
    margin-top: -10%;
}

.community-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.community-body {
    position: relative;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.community__article {
    margin: 10% 10% 10% 0;
    width: 40%;
    text-align: center;
}

.Livello-community {
    display: block;
    margin: 10% auto;
    width: auto;
    height: auto;
    max-width: 55px;
    max-height: 59px;
}

.community-title {
    padding-bottom: 8%;
    font-size: 10px;
    font-weight: bold;
    color: #373737;
    letter-spacing: 2.4px;
    line-height: 20px;
    text-align: center;
}

.community-subtitle {
    font-size: 10px;
    color: #373737;
    letter-spacing: 1.5px;
    line-height: 12px;
    text-align: center;
}

.community__images {
    position: relative;
    margin: 10% auto;
    width: 60%;
    text-align: left;
}

.community__images .slick-track {
    display: flex;
    align-items: flex-start;
}

.community__images .slick-arrow {
    position: absolute;
    top: -30px;
    font-size: 0;
    width: 25px;
    height: 25px;
    border: 1px solid transparent;
}

.community__images .slick-prev {
    right: 20%;
    background: url(./logo.svg/arraw-prev.svg) 0 0 / 100% no-repeat;
}

.community__images .slick-next {
    right: 10%;
    background: url(./logo.svg/arraw-next.svg) 0 0 / 100% no-repeat;
}

.btn-community {
    background-color: #F5F6F7;
}

.community__images .slick-list {
    overflow: hidden;
}

.community__images .slick-dots {
    display: flex;  
}

/* .com-image {
    display: inline-block;
    margin-right: 1%;
    width: auto;
    height: auto;
    
} */

.community__images .slick-slide {
    display: inline-block;
    margin-right: 5px;
    width: auto;
    height: auto;
    height: 200px;
}

@media(min-width:576px) {
    .community-body {
        min-height: 50vh;
    }
    .community {
        margin-top: 5%;
    }
    .community-title  {
        font-size: 12px;
    }
}
@media(min-width:1200px) {
    .community {
        margin-top: 10%;
    }
}
/*community end*/

/*subscription begining*/

.subscription {
    background-image: url(./images/bg-subscription.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: auto;
    min-width: 100wh;
    height: auto;
    min-height: 70vh;
    position: relative;
    opacity: 1;
}

.message-answer {
    display: none;
    position: absolute;
    top: 36%;
    left: 25%;
    width: 52%;
    height: 28%;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.95);
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.title-subscriptionJs {
    display: block;
    margin: 15% auto 5%;
    width: 70%;
    letter-spacing: 3px;
    font-weight: normal;   
}

.message-answer--btn {
    width: auto;
    min-width: 20%;
    height: auto;
    min-height: 10%;
    padding: 2%;
    border-radius: 5px;
    background: gray;
    color: #fff;
    font-size: 65%;
    font-weight: bold;
    letter-spacing: 5px; 
    -webkit-box-shadow: -8px 5px 13px rgb(48, 46, 46);
    box-shadow: -8px 5px 13px rgb(48, 46, 46);
    cursor: pointer;
}

.message-answer--btn:hover {
    background: #16A085;
    -webkit-box-shadow: -20px 20px 5px #041f19;
            box-shadow: -20px 20px 5px #041f19;
}

.cross-closeBtnJs {
    position: absolute;
    top: 10%;
    right: 15%;
    border: 1px solid transparent;
    background-image: url(./images/cross-grey\ white-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.cross-closeBtnJs:hover {
    width: 55px;
    height: 55px;
    transition: all 0.25s ease-in;
}

.subscription__body {
    margin: 0 auto;
    padding: 40% 0;
    width: 90%;
    height: auto;
    text-align: center;
}

.subscription-title {
    padding-bottom: 20px;
    font-size: 20px;
    letter-spacing: 3.6px;
    line-height: 28px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}

.subscription-form {
    width: 70%;
    margin: 0 auto;
    position: relative;
    height: 60px;
}

.subscription-form:hover {
    -webkit-box-shadow: 1px 2px 5px #000;
            box-shadow: 1px 2px 5px #000;
}

.subscription__form--email {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 60px;
    padding: 20px;
    outline: none;
    border-radius: 3px 0 0 3px;
    border: 1px solid transparent;
}

.subscription__form--submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 60px;
    background-color: #16A085;
    border-radius: 0 3px 3px 0;
    border: 1px solid transparent;  
}

.subscription__body--email::placeholder {
    color: #373737;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 2.4px;
    text-align: left;
}

@media(min-width:576px) {
    .subscription {
        min-height: 100vh;
    }
    .subscription__body {
        width: 50%;
    }
    .subscription-title {
        font-size: 24px;
    }
    .subscription__body--email::placeholder {
        font-size: 16px;
    }
}

/*subscription end*/

/*download begining*/
.download {
    background-color: #F5F6F7;
    width: 100%;
    height: auto;
}

.download-body {
    width: 80%;
    margin: 0 auto;
    padding: 10% 0;
    text-align: center;
}

.download-title {
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    color: #373737;
}

.download__btns {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.download-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background-color: #1ABC9C;
    padding: 10px;
    width: 47%;
    height: auto;
    border-radius: 3px;
    border: 1px solid transparent;
}

.download-link:hover {
    box-shadow: 2px 3px 5px #041f19;
}

.download-svg {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    max-width: 20%;
    height: 100%;
    background-color: #16A085;
    padding: 5px;
    border-radius: 0 3px 3px 0;
    border: 1px solid transparent;
}

@media(min-width:576px) {
    .download {
        min-height: 400px;
    }
    .download-title {
        font-size: 22px;
        letter-spacing: 3px;
    }
    .download__btns {
        width: 80%;
    }
    .download-link {
        width: 45%;
    }
    .download-svg {
        padding: 5px 10px;
    }
}
@media(min-width:1400px) {
    .download-link {
        width: 30%;
    }
}
/*download end*/

.footer {
    position: relative;
    padding: 5% 0;
    width: 100%;
    height: auto;
    min-height: 15vh;
}

.footer__logo {
    position: absolute;
    right: 10%;
}

.footer__article--links {
    margin: 2% 0;
    border: 3px solid transparent;
}

.footer-link {
    text-decoration: none;
    margin-bottom: 17px;
    padding: 0 2px;
}

.footer-middle-link {
    border-right: 1px solid #16A085;
    border-left: 1px solid #16A085;
    padding: 0 1%;
}

.footer-link:hover {
    border-bottom: 2px solid #16A085;
}

.footer-copyright {
    font-size: 08px;
    color: #373737;
    letter-spacing: 2.1px;
    line-height: 16px;
}
@media(min-width:576px) {
    .footer-copyright {
        font-size: 14px;
    }
}
@media(min-width:1400px) {
    .footer-copyright {
        font-size: 20px;
    }
}


    

